@import "../../../styles/_variables";

.header {
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: $shadow-md;

  img {
    width: auto;
    height: 48px;
  }
}
